#
# .inputrc
#

# Make Tab autocomplete regardless of filename case
set completion-ignore-case on

# List all matches in case multiple possible completions are possible
set show-all-if-ambiguous off

# Do not autocomplete hidden files unless the pattern explicitly begins with a dot
set match-hidden-files off

# Display possible completions using LS_COLORS
set colored-stats on

# Use text that has already been typed as prefix for searching through commands
"\e[B": history-search-forward
"\e[A": history-search-backward

# Shift up/down to menu complete forward/backward
"\e[1;2B": menu-complete-backward
"\e[1;2A": menu-complete

"\C-x\C-r": re-read-init-file
"\C-l": forward-word
"\C-h": backward-word
"\C-j": end-of-line
"\C-k": beginning-of-line
"\C-d": backward-kill-word
# "\e[1;3C": forward-word
# "\e[1;3D": backward-word
# "\e[1;3A": beginning-of-line
# "\e[1;3B": end-of-line
